{% extends "base.html" %}
{% block head %}
    <script src="{{url_for('static', filename='js/bill_gen.js')   }}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center my-5">Invoice</h1>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">Room Type</th>
                <th scope="col">Room Number</th>
                <th scope="col">Price</th>
                <th scope="col">Number of Beds</th>
                <th scope="col">Check in Date</th>
                <th scope="col">Check out Date</th>
            </tr>
            </thead>
            <tbody id="inner_table">
            </tbody>
        </table>

        <div class="text-right mt-5">
            <button class="btn btn-primary" onclick="generatePDF()">Print Bill</button>
        </div>
    </div>
{% endblock %}


`