{% extends "base.html" %}

{% block head %}
    <title>Cart</title>
{% endblock %}

{% block body %}
    <div class="container mt-5" id="parent-element">
        <h1>Cart</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Room Type</th>
                <th scope="col">Room Number</th>
                <th scope="col">Price</th>
                <th scope="col">Number of Beds</th>
                <th scope="col">Check in Date</th>
                <th scope="col">Check out Date</th>
            </tr>
            </thead>
            <tbody id="inner_table">
            </tbody>
        </table>
        <div id="button_response">
        </div>
        <p class="justify-content-center h1"></p>
    </div>
    <script src="{{ url_for('static', filename='js/cart.js') }}">

    </script>
{% endblock %}
