{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div id="bookings" class="row">
            <div class="col-12">
                <h2>Bookings</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Check in</th>
                        <th scope="col">Check Out</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody id="bookingTableBody">
                    </tbody>
                </table>
            </div>
        </div>
        <div id="services" class="row mt-2">
            <div class="col-12">
                <h2>Services</h2>
                <form>
                    <div class="form-group mb-2">
                        <label for="bookingNumber">Booking Number</label>
                        <input type="number" class="form-control" id="bookingNumber" value="1" min="0"
                               aria-describedby="bookingNumberHelp">
                    </div>
                    <div class="form-group mb-2">
                        <label for="service">Service</label>
                        <select class="form-control" id="service">
                            <option>Banquette</option>
                            <option>Drinks</option>
                            <option>Room Service</option>
                            <option>Laundry</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label for="serviceQuantity">Quantity</label>
                        <input type="number" class="form-control" id="serviceQuantity" value="1" min="0" max="5">
                    </div>
                    <button type="submit" id="front_desk_service" class="btn btn-primary">Add Service</button>
                </form>
                <h2 class=mt-5>Generate Bill</h2>
                <a type="submit" id="front_desk_service" class="btn btn-primary mt-3"
                   href="/generate-bill">Generate Bill</a>
            </div>
        </div>
    </div>
    <script src = "{{ url_for("static", filename="js/frontdesk.js") }}"></script>
{% endblock %}
