{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
    <body>
    <div class="container mt-5">
        <div id="bookings" class="row">
            <div class="col-12">
                <h2>Bookings</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Check in</th>
                        <th scope="col">Check Out</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody id="bookingTableBody">

                    </tbody>
                </table>
            </div>
        </div>
        <div id="services" class="row mt-5">
            <div class="col-12">
                <h2>Services</h2>
                <form>
                    <div class="form-group">
                        <label for="bookingNumber">Booking Number</label>
                        <input type="number" class="form-control" id="bookingNumber"
                               aria-describedby="bookingNumberHelp">
                        <small id="bookingNumberHelp" class="form-text text-muted">Enter the booking number to add a
                            service
                            to a booking.</small>
                    </div>
                    <div class="form-group">
                        <label for="service">Service</label>
                        <select class="form-control" id="service">
                            <option>Banquette</option>
                            <option>Drinks</option>
                            <option>Room Service</option>
                            <option>Laundry</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="serviceQuantity">Quantity</label>
                        <input type="number" class="form-control" id="serviceQuantity" min=0, max=5>
                    </div>
                    <button type="submit" id="front_desk_service" class="btn btn-primary">Add Service</button>
                </form>
                <h2 class=mt-5>Generate Bill</h2>
                <div class="form-group">
                    <label for="bookingId">Booking ID</label>
                    <input type="text" class="form-control" id="bookingId" aria-describedby="bookingIdHelp">
                </div>
                <button type="submit" id="front_desk_service" class="btn btn-primary">Generate Bill</button>
            </div>
        </div>
    </div>
    </body>
    <script>// Front Desk Page
    function front_desk() {
        booking_no = document.getElementById('booking-number')
        services1 = document.getElementById('services')
        quantity1 = document.getElementById('serviceQuantity')
        $.ajax({
            type: "POST",
            url: "/front_desk",
            data: {"booking_no": booking_no.value, "services": services1.value, "quantity": quantity1.value},
            success: function (response) {
                alert("Successfully added")
            }
        });

    }

    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById("front_desk_service").addEventListener('click', front_desk)
    });


    // const getBookings =
    // async () => {
    const response = fetch('/front-desk-data');
    console.log(response)
    const bookings = response.json();
    // }
    // return bookings;
    // };

    const addBookingToTable = (booking) => {
        const bookingsTableBody = document.getElementById('bookingTableBody');
        const row = document.createElement('tr');
        row.setAttribute('id', `booking -${booking.id}`);
        row.innerHTML =
            `<th scope = "row">${booking.Booking_id} </th>
            <td>${booking.Customer_name}</td>
            <td>${booking.Room_no}</td>
            <td>${booking.Check_in}</td>
            <td>${booking.Check_in}</td>
            <td>${booking.Status}</td>
            <td>
                <button class="btn btn-danger" onclick="cancelBooking(${booking.id})">Cancel</button>
            </td>`;
        bookingsTableBody.appendChild(row);
    };

    const cancelBooking = async (bookingId) => {
        const response = await fetch(`/ bookings /${bookingId}`, {method: 'DELETE'});
        if (response.ok) {
            // booking was successfully cancelled
            const bookingRow = document.querySelector(`#booking -${bookingId}`);
            bookingRow.remove();
            alert('Booking cancelled successfully');
        } else {
            alert('Error cancelling booking');
            // there was an error cancelling the booking
            // TODO: display an error message to the user
        }
    };

    const displayBookings = async () => {
        console.log('displaying bookings');
        const bookings = await getBookings();
        console.log(bookings);
        bookings.forEach((booking) => {
            console.log(booking);
            addBookingToTable(booking);
        });
    };
    document.addEventListener('DOMContentLoaded', () => {
        displayBookings();
    });
    </script>
{% endblock %}
