{% extends "base.html" %}
{% block head %}
    <title>Booking</title>
{% endblock %}
{% block body %}
    <div class="d-flex">
        <div class="px-5 py-3 rounded-4" style="background: #f1f3f3;">
            <div class="mx-3 my-2">
                <label for="calender" style="display :block" class="form-label">Date</label>
                <input class="calender" type="date" id="calender"
                       value="{{ min_date_str }}"
                       min="{{ min_date_str }}" max="{{ max_date_str }}" onchange="updateCalendar()">
            </div>
            <div class="mx-3 my-2">
                <label for="calender2" style="display :block" class="form-label">Date</label>
                <input class="calender" type="date" id="calender2"
                       value="{{ min_date_str }}"
                       min="{{ min_date_str }}" max="{{ max_date_str }}">
            </div>
            <div class="mx-3 my-2">
                <label for="room_type" class="form-label">Room Type</label>
                <select id="room_type" class="form-select">
                    <option class="py-3">VIP</option>
                    <option class="py-3">Luxury</option>
                    <option class="py-3">Economic</option>
                </select>
            </div>
            <div class="mx-3 my-2">
                <label for="bed_count" class="form-label">Bed Count</label>
                <select id="bed_count" class="form-select">
                    <option class="py-3">2</option>
                    <option class="py-3">3</option>
                </select>
            </div>
            <div>
                <button class="btn btn-primary mx-3 my-2" id = "searching">Search</button>
            </div>
        </div>


        <div class="d-inline mx-5 my-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Room</th>
                    <th scope="col">Type</th>
                    <th scope="col">Bed Count</th>
                    <th scope="col">Pricing</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}