{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/manager">Admin View</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#bookings">Current Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#salaries">Employee Salaries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#profit">Profit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#expenses">Expenses</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container my-5">
        <div id="bookings" class="row">
            <div class="col-12">
                <h2>Current Bookings</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Check in</th>
                        <th scope="col">Check out</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for booking in bookings[0] %}
                        <tr>
                            <th scope="row">{{ booking["Booking_id"] }}</th>
                            <td>{{ booking["Customer_name"] }}</td>
                            <td>{{ booking["Customer_email"] }}</td>
                            <td>{{ booking["Check_in"] }}</td>
                            <td>{{ booking["Check_out"] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="salaries" class="row mt-5">
            <div class="col-12">
                <h2>Employee Salaries</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Employee</th>
                        <th scope="col">Position</th>
                        <th scope="col">Salary</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings[1] %}
                        <tr>
                            <th scope="row">{{ booking["EmployeeNumber"] }}</th>
                            <td>{{ booking["Employee"] }}</td>
                            <td>{{ booking["Designation"] }}</td>
                            <td>{{ booking["Salary"] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="profit" class="row mt-5">
            <div class="col-12">
                <h2>Profit</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Revenue</th>
                        <th scope="col">Expenses</th>
                        <th scope="col">Profit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings[2] %}
                        <tr>
                            <th scope="row">{{ booking["Date"] }}</th>
                            <td>{{ booking["Revenue"] }}</td>
                            <td>{{ booking["Expenses"] }}</td>
                            <td>{{ booking["Profit"] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="expenses" class="row mt-5">
            <div class="col-12">
                <h2>Expenses</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Management Bills</th>
                        <th scope="col">Restocking Bills</th>
                        <th scope="col">Salary Expense</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings[3] %}
                        <tr>
                            <th scope="row">{{ booking["Date"] }}</th>
                            <td>{{ booking["ManagementBills"] }}</td>
                            <td>{{ booking["restocking_bill"] }}</td>
                            <td>{{ booking["Salary_expense"] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="bg-dark">
        <footer>
            <div class="container">
                <footer class=" my-3 ">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3 ">
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                    </ul>
                    <p class="text-center text-muted">© 2021 Company, Inc</p>
                </footer>
            </div>
        </footer>
    </div>
    <script src="{{ url_for("static", filename="js/manager.js") }}"></script>
{% endblock %}

