{% extends "base.html" %}
{% block head %}Service Bill
<script src="{{ url_for('static', filename='js/service_bill.js') }}"></script>

{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="form-group">
            <label for="bookingId">Booking ID</label>
            <input type="text" class="form-control" id="bookingId" aria-describedby="bookingIdHelp">
        </div>
        <button class="btn btn-primary" id="updateBillButton">Update Bill</button>
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">Service</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody id="billTableBody">
            </tbody>
        </table>
        <div class="row mt-5">
            <div class="col-6">
                <h5>Total: $<span id="totalCost">0</span></h5>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    </script>
{% endblock %}

