{% extends "base.html" %}
{% block title %}Service Bill{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="form-group">
            <label for="bookingId">Booking ID</label>
            <input type="text" class="form-control" id="bookingId" aria-describedby="bookingIdHelp">
        </div>
        <button class="btn btn-primary" id="updateBillButton">Update Bill</button>
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">Service</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody id="billTableBody">
            </tbody>
        </table>
        <div class="row mt-5">
            <div class="col-6">
                <h5>Total: $<span id="totalCost">0</span></h5>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            let totalCost = 0;
            $('#updateBillButton').click(function () {
                let bookingId = $('#bookingId').val();
                $.ajax({
                    url: '/generate-bill',
                    type: 'POST',
                    data: {bookingId: bookingId},
                    success: function (data) {
                        let billTableBody = $('#billTableBody');
                        billTableBody.empty();
                        totalCost = 0;
                        console.log(data);
                        for (let i = 0; i < data.length; i++) {
                            let service = data[i];
                            let row = $('<tr>');
                            row.append($('<td>').text(service[0]));
                            row.append($('<td>').text(service[1]));
                            row.append($('<td>').text(service[2]));
                            let serviceTotal = service[1] * service[2];
                            totalCost += serviceTotal;
                            row.append($('<td>').text(serviceTotal));
                            billTableBody.append(row);
                        }
                        $('#totalCost').text(totalCost);
                    }
                });
            });
        });
    </script>
{% endblock %}

