{% extends "base.html" %}
{% block head %}
    <title>My Title</title>
    <script src="{{ url_for('static', filename='js/Customer.js') }}"></script>
    <script src="{{ url_for("static", filename="js/signup.js") }}"></script>
{% endblock %}
{% block body %}
    <div>
        <form class="m-5 mt mx-auto" style="width: 45%;">
            <div class="First_name">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname">
            </div>
            <div class="d-flex">
                <div class="d-inline">
                    <label for="lastname" class="form-label" style="display :block">Last Name</label>
                    <input type="text" class="form-control" id="lastname">
                </div>
                <div class="d-inline mx-2">
                    <label for="Date-of-Birth" style="display :block" class="form-label">Date of Birth</label>
                    <input class="calender mt-1" type="date" id="Date-of-Birth" name="trip-start"
                           value="1920-01-01"
                           min="1920-01-01" max="2012-12-31">
                </div>
            </div>
            <div>
                <label for="Email1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp">
            </div>
            <div>
                <label for="Password1" class="form-label">Password</label>
                <input type="password" class="form-control" id="Password1">
            </div>
            <div class="mb-3">
                <label for="Password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="Password2">
            </div>
            <button type="button" class="rounded-2 dropbtn btn-outline-light btn1 effect01" id="submit_signup">Submit
            </button>
            <div class="mb-5">
                <label>Already Signed Up? <a href="/login_page">Login here</a></label>
            </div>
        </form>
    </div>
{% endblock %}