<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="../static/css/master.css">
<body>
<div class="screen-welcome" >
<div>
  <p class="display-1 huge-title">Welcome.</p>
  <div class="btn-group px-5" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-secondary dropbtn btn-outline-light btn1 effect01 px-5 rounded-5 button-left" href = "./Signup">Signup</a>
    <div type="button" class="btn btn-secondary dropbtn btn-outline-light btn1 effect01 px-5">Login</div>
    <div type="button" class="btn btn-secondary dropbtn btn-outline-light btn1 effect01 px-5 rounded-5 button-right">BookNow!</div>
  </div>
</div>
</div>
</body>
<script src="../static/js/jquery3.min.js"></script>
<script src="../static/js/JS%20Commands.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</html>